<body>
    <h1> Guide </h1>
    <hr></hr>
    <div>
        <h4>Register<h4>
        <ul>
            <li>Click "Register" button on the top right corner</li>
            <br>
            <li>You have to fill every form to register, else you will get error</li>
            <br>
            <li>A message will appear to indicate if registration was succesful</li>
        </ul>
    </div>
    <div>
        <h4>Login<h4>
        <ul>
            <li>Type username and password</li>
            <br>
            <li>Before pressing the "Login" button, notice that "Medical Booking System" on the top left corner <br> will bring you back to this guide.
            Once logged in, you will see a "My Site" button on the top right corner which will bring you back to your page
            </li>
        </ul>
    </div>
    <div>
        <h4>Client<h4>
        <ul>
            <li>If you login with an registered account, you will have the access of a patient.</li>
            <br>
            <li>Pressing "Book a time" will show all available times.</li>
            <br>
            <li>You can then choose a time and press "Book". A patient is not allowed to <br>
            book several time at once. Notice you will get an error message if you try to book another time.</li>
            <br>
            <li>Pressing "My Bookings" will show the time you are currently booked on</li>
        </ul>
    </div>
     <div>
        <h4>Admin<h4>
        <ul>
            <li>To log in as admin, use "admin" as username and password.</li>
        </ul>
    </div>   
    
    
</body>